/* styles.css */
  
.noscript-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}
  
.noscript-dialog {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
  